body {
font-family: Arial, sans-serif;
background: #f4f4f4;
padding: 30px;
}


h1, h2 {
text-align: center;
}


.form {
background: white;
padding: 20px;
width: 300px;
margin: auto;
border-radius: 8px;
}


.form input, .form textarea, .form select, button {
width: 100%;
margin-top: 10px;
padding: 8px;
}


.task {
background: white;
padding: 15px;
margin: 10px auto;
width: 400px;
border-radius: 8px;
}


.completed {
text-decoration: line-through;
color: gray;
}


button {
background: #007bff;
color: white;
border: none;
cursor: pointer;
}


button.delete {
background: red;
margin-top: 5px;
}